.overflow-auto {
    overflow: auto;
}

.no-scrollbar {
    scrollbar-width: none;
}

.w-16 {
    width: calc(0.25rem * 16);
}
.h-16 {
    height: calc(0.25rem * 16);
}
.h-25 {
    height: calc(0.25rem * 25);
}
.h-screen {  	
    height: 100vh;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-none {
    flex: none;
}

.grid {
    display: grid;
}
.place-content-center {
    place-content: center;
}

.inset-0 {
    inset: 0;
}

.p-4 {
    padding: 1rem;
}

.gap-4 {
    gap: 1rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.font-bold {
    font-weight: 700;
}

.line-through {
    text-decoration-line: line-through;
}

.bg-white {
    background-color: white;
}  

.bg-yellow {
    background-color: var(--yellow);
}
.bg-yellow-dark {
    background-color: var(--yellow-dark);
}
.bg-yellow-light {
    background-color: var(--yellow-light);
}

.text-yellow-dark {
    color: var(--yellow-dark);
}
.text-yellow-light {
    color: var(--yellow-light);
}


.border-2 {
    border-width: 2px;
}

.border-4 {
    border-width: 4px;
}

.border-black {
    border-color: black;
}

.border-solid {
    border-style: solid;
}

.rounded-full {
    border-radius: 9999px;
}

.shadow-md {
    filter: drop-shadow(8px 8px 0 currentColor); /* box-shadow clips on list */
}

.cursor-pointer {
    cursor: pointer;
}

.pointer-events-none {
    pointer-events: none;
}

.appearance-none {
    appearance: none;
}